<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |msg| %>
        <a href=# class="block-heading" data-toggle="collapse"><li><%= msg %></li></a>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block">
     <div class="field">
        <a href=# class="block-heading" data-toggle="collapse"><%= f.label :url %></a><br />
        <%= f.text_field :url %>
     </div>
<!--  <div class="field">
    <%= f.label :userid %><br />
    <%= f.number_field :userid %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
